<form [formGroup]="formModel" (ngSubmit)="submit()" novalidate>
  <div formGroupName="date">
    起始日期：<input type="date" formControlName="from">
    截止日期：<input type="date" formControlName="to">
  </div>
  <div>
    <label>邮箱：</label>
    <div formArrayName="emailGroup">
      <div *ngFor='let item of formModel.get("emailGroup").controls;let i = index'>
        <input type="email" placeholder="请填写邮箱地址" [formControlName]="i">
        <button type="button" (click)="delEmail(i)">删除邮箱</button>
      </div>
    </div>
    <button type="button" (click)="addEmail()">添加邮箱</button>
  </div>
  <button type="submit">提交</button>
</form>
